NET "One" LOC = "P11" | IOSTANDARD = LVTTL ;
NET "Two" LOC = "L3" | IOSTANDARD = LVTTL ;
NET "Three" LOC = "K3" | IOSTANDARD = LVTTL ;
NET "Four" LOC = "B4" | IOSTANDARD = LVTTL ;
NET "Open" LOC = "G12" | IOSTANDARD = LVTTL ; 
NET "Resetn" LOC = "N3" | IOSTANDARD = LVTTL ;
NET "Clk" LOC = "B9" | IOSTANDARD = LVTTL ;
NET "Clk" CLOCK_DEDICATED_ROUTE = FALSE; 
NET "First" LOC = "M5" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "Second" LOC = "M11" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "Third" LOC = "P7" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "Fourth" LOC = "P6" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
NET "Door" LOC = "G1" | IOSTANDARD = LVTTL | SLEW = SLOW | DRIVE = 8 ;
